@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light ve Dark mod için özel stiller */
:root {
  --background-color: #d1d5db; /* Light mod için gri */
  --text-color: #000;
}

.dark {
  --background-color: #374151; /* Dark mod için koyu gri */
  --text-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
